body{
    background-color: pink;
}
.navigation{
    display: grid;
    background-color: red;
}
a{
    text-decoration: none;
    margin:12px;
    float:right;

}
p{
    color: blue;
    clear: both;
}